.center-div{
top: 50%;    
    width:50%;
    height:100px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;      
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 30px;
}

.main-button{
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;    
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}